body {
    background: #525b63;
}

#selectedVideosContainer {
     text-align:center;
     background: #525b63;
     margin: 20px;
}
#remoteVideosContainer {
     text-align:center;
     background: #525b63;
     margin: 20px;
}

#remoteView, #selfView {
    background: #000000;
    display: inline;
    height: 360px;
    width: 480px;
    margin: 20px;
}

.videoElement {
    background: #067d7d;
    border: 12px solid #013563;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.videoElement.active {
    background: #067d7d;
    border: 12px solid #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}